@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    background-color: #F1F4FA;
    color: #06152B;
    font-family: 'DM Sans', sans-serif;
    margin: 30px;
}

.dashboard__container {
    width: 1440px;
    height: 1200px;
    display: grid;
    grid-template-columns: 85px 759px 472px;
    grid-template-rows: 200px 430px 353px;
    gap: 30px;
}

// Стили Header   

.header {
    grid-row: 1/2;
    grid-column: 2/4;
    background-color: #fff;
    border-radius: 11px;
}


 // Стили sidebar

.sidebar {
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: #fff;
    border-radius: 11px;
}

// Стили main

main {
    grid-row: 2/4;
    grid-column: 2/4;
}

.main__container {
    display: grid;
    grid-template-columns: 759px 472px;
    grid-template-rows: 430px 353px;
    gap: 30px;
}

// Стили Visitors

.visitors {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #fff;
    border-radius: 11px;
}


// Стили Order-status

.order-status {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #fff;
    border-radius: 11px;
}


// Стили Resent-services

.resent-services {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #fff;
    border-radius: 11px;

    .resent-services__header {
        display: flex;
        justify-content: space-between;
        padding: 26px 0 0 26px;
    }

    .resent-services__titel {
        margin: 0;
        font-size: 19px;
        font-weight: 500;
        opacity: 70%;
    }

    .resent-services__link {
        text-decoration: none;
        opacity: 30%;
        color: #06152B;
        font-weight: 700;
        padding-right: 55px;
    }

    .table-flex {
        font-size: 13px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 0 26px;
    }
    
    .table-flex__row {
        display: flex;
        flex-direction: row;
        height: 58px;
    }

    .row--bg {
        border-radius: 5px;
        background-color: #F1F4FA;
    }
    
    .table-flex__cell {
        display: flex;
        align-items: center;
        width: 100%;
        flex: 1 1 auto;
    }

    .table-flex__cell--image {
        padding-left: 10px;
        width: 5%;
    }

    .table-flex__cell--picture {
        width: 25%;
        padding-right: 10px;
    }

    .column-1 {
        padding-left: 21px;
    }

    .column-3 {
        padding-left: 45px;
    }
    
    .column-4 {
        width: 64px;
        height: 11px;
        border-radius: 8px;
        color: #3A36DB;
        background-color: rgba(223, 222, 251, 1);
        padding: 10px 0;
    }
    
    .column-5 {
        padding-left: 15px;
    }

    .line {
        width: 100%;
        color: #06152B;
        opacity: 15%;
        margin: 0;
    }
}

// Стили Selling-services

.selling-services {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #fff;
    border-radius: 11px;

    .selling-services__header {
        display: flex;
        justify-content: space-between;
        padding: 26px 0 0 26px;
    }

    .selling-services__title {
        margin: 0;
        font-size: 19px;
        font-weight: 500;
        opacity: 70%;
    }
    
    .selling-services__link {
        text-decoration: none;
        opacity: 30%;
        color: #06152B;
        font-weight: 700;
        padding-right: 55px;
    }

    .cards__container {
        padding: 23px 40px 0 24px;
    }

    .card-1 {
        display: flex;
        padding-bottom: 22px;
    }

    .line {
        width: 100%;
        color: #06152B;
        opacity: 15%;
        margin: 0;
    }

    .card__image {
        width: 92px;
        height: 96px;   
    }

    .card__text {
        padding-left: 19px;
        font-weight: 500;
    }

    .card__text--title {
        margin: 10px 0;
    }

    .card__text--untertitle {
        margin: 10px 0;
    }

    .card-2 {
        display: flex;
        padding-top: 23px;
    }
}